<app-header (update)="ngOnInit()"></app-header>
<div class="content">
    <div class="login-header">
        <ngb-carousel [showNavigationIndicators]="false">
            <ng-template ngbSlide>
                <img src="assets/images/header/Slider1.jpg" >
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/images/header/Slider2.png">
            </ng-template>
            <ng-template ngbSlide>
                <img src="../assets/images/header/Slider3.jpg">
            </ng-template>
            <ng-template ngbSlide>
                <img src="../assets/images/header/Slider4.jpg">
            </ng-template>
        </ngb-carousel>
        <div class="login-header-left">
            <img src="assets/images/Group 5.png" />
        </div>
        <h3 class="login-header-title">
            <ngb-carousel [showNavigationIndicators]="false">
                <ng-template ngbSlide *ngFor="let slide of content?.login_header_title">
                    {{ slide }}
                </ng-template>
            </ngb-carousel>
        </h3>
    </div>
    <div class="login">
        <div class="container login-content">
            <div class="row">
                <div class="offset-lg-1 offset-md-1 offset-sm-1 col-lg-10 col-md-10 col-sm-10">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-sm-12">
                            <div class="basic-information">
                                    <p [innerHTML]="i === 0 ? boldFirst(info).toString() : info"
                                    *ngFor="let info of content?.basic_information;let i = index">
                                </p>
                            </div>
                            <div class="language-information">
                                    <div class="language-title">{{content?.language_title}}</div>
                                    <div class="language-types">
                                        <p *ngFor="let language of content?.language_types"
                                            [innerHTML]="boldFirst(language).toString()"></p>
                                    </div>
                                </div>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12 login-form">
                            <div *ngIf="page === 'resetPassword'">
                                <div class="row">
                                    <div class="col-lg-4 col-md-10 col-sm-10">
                                        <div class="back-button">

                                            <a [routerLink]="['/login']">
                                                <i class="fas fa-chevron-left left-arrow"></i>
                                                {{content?.back_button}}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-12 col-sm-12">
                                        <div class="login-errors" *ngIf="invalidCredentials">
                                            {{ content?.passwords_not_match }}
                                        </div>
                                    </div>
                                </div>
                                <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
                                    <div class="form-group">
                                        <input formControlName="password" type="password"
                                            class="form-control input-field" placeholder="{{content?.enter_new_password}}" />
                                    </div>
                                    <div class="form-group">
                                        <input formControlName="confirmPassword" type="password"
                                            class="form-control input-field" placeholder="{{ content?.confirm_password }}" />
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-7 col-md-12 col-sm-7">
                                            <input type="submit" value="{{ content?.confirm_button }}" class="login-button-form"
                                                [ngClass]="{'purple-button': !invalidCredentials, 'pink-button': invalidCredentials}" />
                                        </div>
                                    </div>
                                    <div class="reset-password-label">
                                        <span>{{ content?.enter_password_label }}</span>
                                    </div>
                                </form>
                            </div>
                            <div *ngIf="page === 'passwordChanged'" class="password-changed">
                                <div class="text">
                                    <span>{{ content?.password_changed }}</span>
                                </div>
                                <div class="note">
                                    {{ content?.go_back_to }} <a [routerLink]="['/login']">{{ content?.login }}</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <hr class="horizontal-line">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
                <div class="instruments">
                        <div class="instruments-header">
                            {{content?.instruments_header}}
                        </div>
                        <div class="instruments-list">
                            <div class="instrument" *ngFor="let instrument of instruments; let i = index">
                                <div class="image-wrapper">
                                    <img src="{{instrument.photo?.image.url}}" (click)="chooseInstrument(i)" />
                                </div>
                                <div class="instrument-name">{{instrument.name}}</div>
                            </div>
                        </div>
        
                    </div>
                    <div class="articles">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 article" *ngFor="let article of content?.article">
                                    <div class="article-header" *ngIf="article.video">
                                        <img src="assets/images/news_pic.png" class="article-image">
                                        <div class="play-button">
                                            <img src="assets/images/play_video_btn.png" />
                                        </div>
                                    </div>
                                    <img src="assets/images/video_pic.png" class="article-image" *ngIf="!article.video">
                                    <span class="article-title">{{article.article_title}}</span>
                                    <div class="article-content">
                                        {{article.article_content}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 download">
                                    <div class="download-logo">
                                        <img src="assets/images/logo.svg" />
                                    </div>
                                    <div class="download-text">{{ content?.download_our_app }}</div>
                                    <div class="download-links">
                                        <div class="row mobile-row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 first-link">
                                                <button class="download-link-play">
                                                    <img src="assets/images/Android.svg" class="download-image" />
                                                </button>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 second-link">
                                                <button class="download-link-app">
                                                    <img src="assets/images/Apple.svg" class="download-image" />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="players">
                                <div class="player" *ngFor="let player of content?.players">
                                    <img src="assets/images/play.png" class="player-logo" />
                                    <div class="player-info">
                                        <div class="player-header">
                                            {{ player.player_header}}
                                        </div>
                                        <div class="player-date">
                                            {{ player.player_date}}
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
    </div>
    <app-footer></app-footer>
