<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Wagner, <%= @user.first_name %></h1>
<p>
  You have received link for password reset,
  your email is: <%= @user.email_address %>.<br>
</p>
<p>
  To reset your password, just follow this link:
  <a href="<%= Rails.application.config.frontend_base_url + '/resetPassword/' + @token %>">Recover password</a>
  <br>
  This link will expire in 1 hour.
</p>

</body>
</html>
